.git
.gitignore
.devcontainer

.github

node_modules
.pnpm-store

dist
build
coverage
playwright-report
test-results
apps/web/playwright-report
apps/web/test-results

.env
.env.*

.idea
.vscode

tmp
temp
